tasks/module4/src/main/resources/ships.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="shipType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="passenger"/>
            <xs:enumeration value="container"/>
            <xs:enumeration value="bulk"/>
            <xs:enumeration value="tanker"/>
            <xs:enumeration value="naval"/>
            <xs:enumeration value="special_purpose"/>
            <xs:enumeration value="offshore"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="operationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="load"/>
            <xs:enumeration value="unload"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="ships">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ship" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element type="xs:long" name="capacity"/>
                            <xs:element type="xs:long" name="currCongestion"/>
                            <xs:element type="operationType" name="operationType"/>
                         </xs:choice>
                        <xs:attribute type="shipType" name="type" use="required"/>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>